adapter-schema-fwk/src/main/xsd/yang-library.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ietfYangLibraryModulesState.xsd" namespace="urn:ietf:params:xml:ns:yang:ietf-yang-library" />
  <xs:element name="rpc-reply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="urn:ietf:params:xml:ns:yang:ietf-yang-library" ref="q1:modules-state" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="message-id" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>